* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header, #footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
}